*{
    margin:0;
    font-family: "Inter", sans-serif;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 70px;
}
.ul_container{
    display:flex;
    gap:23px;
    font-size:18px;
    color:rgb(112, 112, 112);
    list-style:none;
}
.nav_button{
    background-color: #1D4ED8;
    color:white;
    font-weight:600;
    border:none;
    border-radius:5px;
    padding:10px 30px;
}
.nav_button:hover{
    background-color:#2563EB;
    cursor:pointer;
}
.header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner.jpg");
    max-width: 1551px;
    height:786px;
    background-repeat:no-repeat;
    background-size:cover;
}
.banar_container{
    display: flex;
    flex-direction: column;
    height:650px;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    gap: 80px;
}
.header_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.header_heading h1{
    color: white;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
}
.header_heading p{
    text-align: center;
    width: 650px;
    font-size: 21px;
    color:rgb(170, 170, 170);
}
.banner_button{
    background-color: #1D4ED8;
    color:white;
    font-weight:600;
    font-size: 20px;
    border:none;
    border-radius:5px;
    padding:17px 50px;
}
.banner_button:hover{
    background-color:#2563EB;
    cursor: pointer;
}
.main_part{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.card_section{
    text-align: center;
    margin: auto;
    max-width: 87%;
}
.card_section h1{
    font-size: 56px;
    font-weight: bold;
}
.card_container{
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
}
.card{
    border: 1px solid rgb(222, 222, 222);
    border-radius: 8px;
    width: 644px;
    height: 460px;
}
.card img{
    border-radius: 8px 8px 0 0;
    width: 644px;
    height: 324px; 
}
.card div{
    text-align: left;
    padding: 20px ;
    line-height: 1.7;
}
.card div h6{
    text-transform: uppercase;
    color:#1d4fd8b4
}
.card div p{
    text-transform: capitalize;
    color:#5b5b5bb4
}

.Pricing_section{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    width: 87%;
    margin: auto;
}
.pricing_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.pricing_header h1{
    font-size: 48px;
}
.pricing_header p{
    font-size: 16px;
}
.pricing_card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.pricing_card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 8px;
}
.ul_text{
    margin: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.ul_text li::marker{
    color: #4F7CFF;
}
.pricing_card button{
    padding: 14px 25px;
    border-radius: 8px;
}
.text_color{
    color:rgb(86, 86, 86);
}
.middel_card_color{
    background-color:#0D1B2A;
    color: rgb(194, 194, 194);
}
.pro_color h6{
    color:#4F7CFF;
}
.pro_color h1{
    color:white;
}
.text_capital{
    text-transform: uppercase;
}
.standerd_card{
    border: 1px solid rgb(190, 190, 190);
}
.standerd_card button{
    color:#1D4ED8;
    background-color: white;
    border:1px solid #1D4ED8;
    cursor: pointer;
    font-weight: bold;
}
.standerd_card button:hover{
    background-color:#1D4ED8;
    color: white;
    cursor: pointer;
}
.pro_card{
    border: none;
}
.pro_card button{
    color:white;
    background-color: #1D4ED8;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.pro_card button:hover{
    background-color:#396aff;
}
.team_card{
    background-color: rgb(244, 244, 244);
}
.team_card button{
    border: 1px solid rgb(112, 112, 112);
    font-weight: bold;
    cursor: pointer;
}
.team_card button:hover{
    background-color: #5c5c5c;
    color:#cbcbcb;
}
.venue_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin: auto;
    width: 87%;
    height: 600px;
}
.venue_container{
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
    padding: 50px;
    border: 1px solid rgb(225, 225, 225);
    width: 80%;
    height: 450px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
.venue_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.venue_heading h1{
    font-size: 56px;
    font-weight: bold;
}
.venue_heading p{
    font-size: 21px;
    color:#5c5c5c
}
.venue_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.venue_left_hr{
    border: none;
    height: 1px;
    background-color: #cbcbcb;
}
.left_side_element{
    display: flex;
    align-items: center;
    gap: 15px;
}
.left_side_element img{
    filter: brightness(0) saturate(100%)
            invert(35%) sepia(97%)
            saturate(2458%) hue-rotate(217deg)
            brightness(110%) contrast(96%);
}
.left_text_element{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left_text_element p{
    color: #5c5c5c;
}

.venue_logo{
    width: 40px;
    height: 40px;
}
.location_image img{
    width: 100%;
    height: 435px;
    border-radius: 12px;
    object-fit: cover;
}

.direction_button{
    background-color: #1D4ED8;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.direction_button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.direction_button:hover{
    background-color:#2563EB;
}
.direction_button i{
    color: white;
    font-size: 20px;
}

.footer_main{
    margin-top: 200px;
    max-width:100%;
    height: 250px;
    background-color: #0D1B2A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}

.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 60px 115px 60px; 
}
.social_link{
    display: flex;
    gap: 30px;
}
.social_link div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.social_link div h5{
    color:#60747b
}
.social_logo{
    width: 30px;
    height: 30px;
}

.hr_container{
    padding: 0 60px;
}
.hr_container hr{
    border: none;
    height: 1px;
    background-color: #60747b;
}

.copy_right_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    color: #60747b;
}
.copy_right_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}